<!DOCTYPE html>
<html>
<head>
    <title>TEDxJakarta Analysis Hub</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'all.css')}}">

</head>
<body>
    <div class=containertitle>
        <p>Social Network Analysis Hub</p>
    </div>



    <div class="containermenu">
          <a href="{{ url_for('mainpage') }}" class="btn btn-primary js-scroll-trigger">Connector Analysis</a>
    </div>












    <footer class="bg-black small text-white-50">
        <div class="minitext">
          <p>Powered by IYKRA</p>
        </div>
    </footer>



</body>
</html>